body {
    margin:0px;
    padding:0px;
    background-color: rgb(250, 248, 247);
}
* {
    box-sizing: border-box;
}

fieldset {
    margin: 20px;
    padding: 20px;
    border: 1px solid #666;
    border-radius: 8px;
    box-shadow: 0 0 10px #666;
    padding-top: 10px;
    line-height:1.8;
}
legend {
    padding: 0px 2px;
    background: rgb(250, 248, 247);
    /* For better legibility against the box-shadow */
}
.Sitemenu_Container {
    position: fixed;
    height: 70px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.Sitemenu {
    height: 60px;
    width: 100%;
    position: fixed;
    padding: 10px 15px 15px 5%;
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: #333333;
    color: #dddddd;
}
.MenuMargin{
	position:static;
}
.Comment{
    margin-left:10%;
    margin-right:10%;
}
.Link {
    color:#dddddd;
    padding: 10px;
    text-decoration: none;
    
}
.Link:visited{
    color:#dddddd;
}
.Link:hover{
    color:#ffffff;
}
.Link:active{
    color:#ffffff;
}
.Tag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    
}
.SideNav {
    
    margin: 0;
    padding: 0;
    width: 0%;
    background-color: #333333;
    color: #dddddd;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    text-decoration:none;
    
    font-size:30px;
    
}
.SideNavul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    background-color: #333333;
    color: #dddddd;
   
    
    text-decoration: none;
    font-size: 30px;
}

.SideTag{
    margin:20px;
    align-self:center;
}

.Container{
    margin:0px;
    width:100%;
    border-style:none;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    z-index: 0;
}
.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.Margin{
    height:15px;
}
.Title{
    font-size:35px;
    font-family:'Century Gothic';
}
.SubTitle{
    font-size:25px;
}

.SmallCaptions {
    font-size: 13px;
}
.larger {
    font-size: larger;
}

#SausageTitle {
    display:inline;
    font-family: 'Century Gothic';
    color: #eeeeee;
    margin-top:5px;
    position:fixed;
    
}
.firstTag{
    margin-left:430px;
}
.InArticle{
    color:black;
    text-decoration:underline;
}
.InArticle:hover {
    color:black;
    text-decoration: none;
}
.InArticle:visited {
        color: black;
        text-decoration: none;
}
.Buttons {
    text-decoration:none;
    outline: none;
    font-family: Verdana,sans-serif;
    padding: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 17px;
    background-color: rgb(36, 106, 171);
    border-style: none;
    border-width: 10px;
    border-radius: 5px;
    color: white;
}
.Buttons:hover {
    background-color: rgb(20, 80, 130);
}
.NavButton {
    float: left;
    margin: 0px 10px;
    background-color: #333333;
    border-style:none;
    
}

.FloatRight{
    float:right;
}
.FloatLeft {
    float: left;
}
.ChildCentered{
    text-align:center;
}
.Grayed {
    color: #808080;
}
.SiteFooter_Container {
    width:100%;
    
    margin:0px;
    padding:0px;
}
.SiteFooter {
    font-family: 'Microsoft JhengHei';
    background-color: #333333;
    padding: 30px;
    color: ghostwhite;
    
    margin: 0px;
}
.Snapshot {
    align-self: center;
    text-align: center;
}
.Snapshot_img {
    width: 70%;
}
.Icon{
    width: 30%;
}
.IconFull {
    border-radius: 20px;
    width: 100%;
}
.Article {
    font-family: 'Microsoft JhengHei',sans-serif;
    font-size: 15px;
    margin: auto;
    width: 70%;
    line-height: 1.8;
    
}
/*RWD Grid*/
.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}

.header {
  background-color: #9933cc;
  color: #ffffff;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
  background-color: #0099cc;
}

.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
iframe[src*="ads-iframe"] {
    display: none;
}
div#disqus_thread iframe[sandbox] {
    max-height: 0px !important;
}
.fill {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}